/* Variables et Mixins */
@import "variables/design";
@import "mixins/boutons";

/* Modules */
@import "modules/header";
@import "modules/footer";
@import "modules/loader";
@import "modules/animations";

/* Pages */
@import "pages/home";
@import "pages/menu-restaurant";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font;
  color: $black;
  font-style: normal;
}

main {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: $header-font-size;
  font-weight: $header-font-weight;
  font-family: $header-font;
  color: $black;
  font-style: normal;
}

h2 {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  font-family: $title-font;
  color: $black;
  font-style: normal;
}

.text-highlight {
  font-size: $body-highlight-font-size;
  font-weight: $body-highlight-font-weight;
}

a {
  text-decoration: none;
}
