/* Variables et Mixins */
@import 'variables/design.scss';
@import 'mixins/boutons.scss';

/* Pages */
@import 'pages/home.scss';
@import 'pages/menu-restaurant.scss';

/* Modules */
@import 'modules/header.scss';
@import 'modules/footer.scss';
@import 'modules/loader.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $body-font;
    font-style: normal;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    color: $black;
}

main {
    width: 100%;
    margin:auto;
}


h1 {
    font-family: $header-font;
    font-style: normal;
    font-weight: $header-font-weight;
    font-size: $header-font-size;
    color: $black;
}

h2 {
    font-family: $title-font;
    font-style: normal;
    font-weight: $title-font-weight;
    font-size: $title-font-size;
    color: $black;
}

.text-highlight {
    font-weight: $body-highlight-font-weight;
    font-size: $body-highlight-font-size;

}

a {
    text-decoration:none;
}
