//Remplissage du coeur
.coeur-vide {
  position: absolute;
  opacity: 100%;
  transition: all 300ms ease-in-out;
  transform: scale(1);
}

.coeur-plein {
  position: absolute;
  color: transparent;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  opacity: 0%;
  transition: all 300ms ease-in-out;
  transform: scale(0);
  background-clip: text;
}

//Apparition progressive des éléments
.apparition {
  animation: apparition 500ms ease-in-out both;

  @for $i from 1 through 12 {
    &--#{$i} {
      animation-delay: $animDur * $i;
    }
  }
  @for $i from 100 through 500 {
    &--#{$i} {
      animation-delay: $loadDur + calc($animDur * $i / 100);
    }
  }
}

@keyframes apparition {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

//Apparition de la coche
.menu {
  &__elementContainer {
    &:hover .menu__element-coche {
      opacity: 100%;
      transform: translateX(-84%);
    }
    @media (max-width: 400px) {
      &:hover .version--longue {
        opacity: 0;
      }
      &:hover .version--courte {
        opacity: 100%;
      }
    }
  }
  &__element-coche {
    transition: transform 400ms ease-in-out;
  }
}
.version--courte {
  position: absolute;
  opacity: 0;
}
