/* Design System */

/* Colors */
$primary-color: #9356dc;
$secondary-color: #fca311;
$main-bg-color: #f6f6f6;
$secondary-bg-color: #eaeaea;
$green: #99e2d0;
$green-font: #008766;
$pink: #ff79da;
$black: #000;
$white: #fff;
$linear-gradient-cta: linear-gradient(to bottom, $pink, $primary-color);

/* Text configuration */
$body-font: "Roboto";
$body-highlight-font: "Roboto";
$header-font: "Roboto";
$title-font: "Roboto";
$body-font-weight: 400;
$body-highlight-font-weight: 400;
$header-font-weight: 700;
$title-font-weight: 700;
$body-font-size: 1rem;
$body-highlight-font-size: 18px;
$header-font-size: 24px;
$title-font-size: 24px;
