/* bouton avec gradient de couleur */
@mixin cta-btn {
  display: inline-block;
  padding: 13px 16px;
  font-weight: 500;
  color: $white;
  text-align: center;
  background: $linear-gradient-cta;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
  transition: opacity 300ms;

  &:hover {
    opacity: 70%;
  }
}
